*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.allcontainer{
    width: 1440px;
    height: 80px;
    background: var(--Main, #5361E4);
    display:flex;
}
.header{
    display: flex;
    align-items: center;
}